<div class="banner">
</div>

<div class="header">
<h1>Meine  Arbeiten </h1>
</div>



<div class="row">
    
    
    <div class="col-6">
        <div class="container">
          <img src="img/Plakat5.jpg">
          <div class="desc">Plakat für Werbung neuer Bewerber </div>
        </div>
    </div>

    
    <div class="col-6">
        <div class="container">
          <img src="img/Plakat.jpg">
          <div class="desc"> Plakat für Werbung neuer Bewerber </div>
    </div>      
    </div>
     
</div>